.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .sectionCard{
  padding:10px;
  margin: 10px;
} */
.cont{
  padding:40px;
  margin:40px
}
.section1{
  background-color:cornflowerblue;
  padding: 10;
  color:white;
  /* margin-left:20px; */
  border-radius: 20px;
  
}


.section1 h1{
  color:gainsboro;
  padding:10px;
  margin:10px
}
.section1 p{
  justify-content: center;
  margin:10px;
  color:white;
  padding:15px;
}
.section2{
  background-color:wheat;
  padding: 30px;
  /* margin-left: 20px; */
  border-radius: 20px;
}

.section2 p{
  color:white
}

.section2 h1{
  color:skyblue
}
.section{
  padding:20px;
  /* margin:10px; */
  background-color:black


}


.nav{
  float:right;
  text-decoration: none;
  background-color: azure;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
